.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.large-item {
    grid-column: span 6; /* Occupa metà della larghezza della griglia */
}

.small-item {
    grid-column: span 3; /* Occupa un terzo della larghezza della griglia */
}

/* Layout per la parte superiore */
.grid-container > .grid-item:nth-child(1) {
    grid-column: 7 / span 6; /* Il primo grande a destra */
}

.grid-container > .grid-item:nth-child(2) {
    grid-column: 1 / span 3; /* Primo piccolo a sinistra */
}

.grid-container > .grid-item:nth-child(3) {
    grid-column: 1 / span 3; /* Secondo piccolo sotto il primo piccolo */
}

/* Layout per la parte inferiore */
.grid-container > .grid-item:nth-child(4) {
    grid-column: 1 / span 6; /* Il secondo grande a sinistra */
}

.grid-container > .grid-item:nth-child(5) {
    grid-column: 7 / span 3; /* Primo piccolo a destra */
}

.grid-container > .grid-item:nth-child(6) {
    grid-column: 7 / span 3; /* Secondo piccolo sotto il primo piccolo */
}

.grid-item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
}

/* Layout responsivo per schermi piccoli */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .large-item {
        grid-column: span 6;
    }

    .small-item {
        grid-column: span 3;
    }
}

/* Layout per schermi extra piccoli (mobile) */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .large-item {
        grid-column: span 3;
    }

    .small-item {
        grid-column: span 3;
    }
}

.albums-background {
    background: url("/public/assets/new/sq-albums.jpg") center/cover no-repeat;
}
.aboutus-background {
    background: url("/public/assets/new/home.jpg") center/cover no-repeat;
}
.workwithus-background {
    background: url("/public/assets/new/sq-vendors.jpg") center/cover no-repeat;
}
.contacts-background {
    background: url("/public/assets/new/sq-contacts.jpg") center/cover no-repeat;
}
.videos-background {
    background: url("/public/assets/new/sq-videos.jpg") center/cover no-repeat;
}
.locations-background {
    background: url("/public/assets/new/sq-locations.jpg") center/cover no-repeat;
}
