.modal-backdrop-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.modal-content-1 {
    background: white;
    width: 80%;
    margin: 2em auto;
    padding: 1.5rem;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
}

.modal-content-1  p h6 {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.modal-close-1 {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-height: 1080px) {
    .modal-content-1 {
        max-height: 80vh;
        overflow-y: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
