@import 'bootstrap/scss/bootstrap.scss';
@import "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rethink Sans', sans-serif;
}

.logo {
    max-height: 100px;
    max-width: 100px;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 1024px) {
    .navbar {
        border-bottom: gray 5px;
    }

    .presentation {
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
}



@media screen and (max-width: 1023px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
}
