.button-and-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a img {
    width: 30px;
    height: auto;
}
