.submit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-submit {
    width: 100px;
    height: auto;
}

.socials a img {
    width: 73px;
    height: 73px;
}
