@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import 'header';
@import "main-content";
@import "footer";

@media screen and (min-width: 1024px) {

    //Whatsapp
    .whatsapp-link-container{
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        bottom: 1em;
        right: 0.8em;
        align-items: center;
        width: 200px;
    }

    .a-tag-whatsapp{
        display: flex;
        text-decoration: none;
        color: black;
        height: 100%;
        align-items: center;
    }

    .a-tag-whatsapp > div{
        padding: 0.5em 0.5em  0.5em 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        background: white;
        border-radius: 5px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    }

    .whatsapp-icon{
        object-fit: contain;
        width: 30%;
        height: 100%;
        padding-left: 0.5em;
    }

}

@media screen and (max-width: 991px) {

    //Whatsapp
    .whatsapp-link-container{
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        bottom: 1em;
        right: 1em;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .a-tag-whatsapp{
        display: flex;
        text-decoration: none;
        color: black;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .a-tag-whatsapp > div{
        display: none;
    }

    .whatsapp-icon{
        object-fit: contain;
        width: 80%;
        height: 80%;
    }
}
