
body {
    font-family: 'Rethink Sans', sans-serif;
}

.logo {
    max-height: 100px;
    max-width: 100px;
}

.pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-wedding-site-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0 2em 0;
}
.footer-container{
    padding: 2em 0 2em 0;
    border-bottom: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
}

.footer-container > h6{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-container > div > p{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #3e3f3f;
}

.footer-bottom{
    padding:2.5em 0 1em 0;
    text-align: center;
}

.footer-bottom > a{
    text-decoration: none;
    color: lightgray;
}

@media screen and (min-width: 1024px) {
    .navbar {
        border-bottom: gray 5px;
    }

    .presentation {
        padding-top: 36px;
        padding-bottom: 36px;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .presentation-picture{
        width: 400px;
        height: 620px;
    }

    .language-selector{
        padding: 0.2em;
        font-size: 1em;
        background-color: #fff;
        outline: none;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
    }

    .whatsapp-link-container{
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        bottom: 1em;
        right: 0.8em;
        align-items: center;
        width: 200px;
    }


    .a-tag-whatsapp{
        display: flex;
        text-decoration: none;
        color: black;
        height: 100%;
        align-items: center;
    }

    .a-tag-whatsapp > div{
        padding: 0.5em 0.5em  0.5em 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        background: white;
        border-radius: 5px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    }

    .whatsapp-icon{
        object-fit: contain;
        width: 30%;
        height: 100%;
        padding-left: 0.5em;
    }

}



@media screen and (max-width: 1023px) {

    .navbar {
        border-bottom: gray 5px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
    }

    .presentation-picture{
        object-fit: contain;
        width: 400px;
        height: 400px;
    }

    .language-selector{
        padding: 0.2em;
        font-size: 1em;
        background-color: #fff;
        outline: none;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
    }

    .whatsapp-link-container{
        display: flex;
        justify-content: center;
        align-content: center;
        position: fixed;
        bottom: 1em;
        right: 1em;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    }


    .a-tag-whatsapp{
        display: flex;
        text-decoration: none;
        color: black;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .a-tag-whatsapp > div{
        display: none;
    }

    .whatsapp-icon{
        object-fit: contain;
        width: 80%;
        height: 80%;
    }
}
