.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Imposta l'aspect ratio a 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
