.adm-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.adm-album-container {
    max-width: 400px;
    width: 100%;
    //aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.adm-album-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adm-album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
}

.adm-album-info > h5 {
    margin-bottom: 0.5rem;
}

.adm-cover-container {
    position: relative;
}

.adm-cover-container::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.adm-album-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
